@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$blue:#37c7f2;

$light:#fafcff;
$red: hsl(0, 82%, 50%);



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color:#f3f5fa;
$input-shadow: none;


/* Global stylesheet scss */

html,body {
  // set the default font-size to 18px;
  font-size: 18px !important;
  height:100%;
  overflow: hidden !important;
}
